$agd-gray: #dadada;
$agd-font-family: "Montserrat";
$agd-color: #11c6ff;
$agd-color-hover: #3dd0ff;
$agd-font-color:#00aded;
$agd-error-border-color:#e41600;
$agd-error-background : #ffdcd8;
$google-color: #4184f3;
$google-color-hover: #669cf5;