@import "./assets/variable.scss";

html,body{
    margin: 0;
    height: 100%;
}

span,a,input,small{
    font-family: $agd-font-family;
    opacity: 0.7;
}

.agd-button{
    background-color: $agd-color;
    border-radius: 16px;
    height: 33px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
    display: inline-flex;
    &.btn-google{
        font-family: 'Roboto';
        font-size: 17px;
        background-color: $google-color;
        padding: 6px 43px;
        border-radius: 30px;
        a{
            font-size:15px;
        }
        &:hover{
            background-color: #669cf5;
            a{
                opacity: 1;
            }
        }
    }
    a{
        opacity: 0.9;
        color: white;
        font-size: 13px;
    }
    &:hover{
        background-color: $agd-color-hover;
        a{
            opacity: 1;
        }
    }
    &:active{
        background-color: $agd-color
    }
}

.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 65px 35px;
    .content{
        height: 100%;
        margin: auto;
        padding: 0 20px;
        margin-top: 20px;
        .content-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            span{
                display: block;
            }
            .not-me{
                color:$agd-color;
                &:hover{
                    color:$agd-color-hover;
                }
            }
        }
        .card{
            border: 1px solid $agd-gray;
            padding: 40px 40px;
            margin: auto;
            width: 370px;
            .card-element{
                &:not(:first-child){
                    margin-top: 29px;
                }
            }
            .navigate{
                font-size: 11px;
                margin-top: 20px;
                display: block;
                &.google-nav{
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                }
                a{
                    color: $agd-font-color;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: 700;
                    opacity: 1;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
