@import "./assets/variable.scss";

html,body{
    margin: 0;
    height: 100%;
}

.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    .card{
        width: 600px;
        height: 100%;
        .card-wrapper{
            margin-top: 100px;
            height: 500px;
            padding: 0 40px;
            .card-content{
                border: 1px solid $agd-gray;
                padding: 40px 10px;
            }
        }
    }
}
