@import "variable";

html,body{
    margin: 0;
    height: 100%;
}

span,a,input,small,p{
    font-family: $agd-font-family;
    opacity: 0.7;
}

.agd-button{
    background-color: $agd-color;
    border-radius: 16px;
    height: 33px;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
    display: inline-flex;
    opacity: 1;
    &.btn-google{
        font-family: 'Roboto';
        font-size: 17px;
        background-color: $google-color;
        padding: 6px 17px;
        border-radius: 30px;
        width: 215px;
        justify-content: flex-start;
        display: flex;
        img{
            width: 21px;
            margin-right: 14px;
        }
        span{
            font-size:15px;
        }
        &:hover{
            background-color: $google-color-hover;
        }
    }
    span{
        opacity: 1;
        color: white;
        font-size: 13px;
    }
    &:hover{
        background-color: $agd-color-hover;

    }
    &:active{
        background-color: $agd-color
    }
}

.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    .content{
        height: 100%;
        margin-top: 20px;
        max-width: 475px;
        width: 100%;
    
        .logo{
            text-align: center;
            img{
                width: 200px;
                @media only screen and (max-width: 800px){
                    width: 150px;
                }
            }
        }
        .content-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            margin-top: 30px;
            span{
                display: block;
                font-weight: bold;
                color:$agd-color;
                opacity: 1;
            }
            .not-me{
                color:$agd-color;
                &:hover{
                    color:$agd-color-hover;
                }
            }
        }
        .card{
            border: 1px solid $agd-gray;
            margin: 0 20px;
            padding: 30px;
            @media only screen and (max-width: 800px){
                padding: 30px 10px;
            }
            .card-element{
                &:not(:first-child){
                    margin-top: 17px;
                    div{
                        margin-top: 17px;
                    }
                }
                .card-text{
                    margin-bottom: 30px;
                    p{
                        font-size: 14px;
                    }
                }
            }
            .navigate{
                font-size: 11px;
                margin-top: 20px;
                display: block;
                &.google-nav{
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                }
                a{
                    color: $agd-color;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: 700;
                    opacity: 1;
                    text-decoration: none;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        .email-sent{
            padding: 0 12px;
            span{
                display: block;
                text-align: center;
                margin-top: 30px;
                font-weight: 700;
            }
            small{
                font-size: 12px;
                display: block;
                margin-top: 41px;
                text-align: center;
                
            }
        }
    }
}
